/*BODY************/

body {
    font-size: 16px;
    max-width: 1200px;
}

/****************************************/


/*FLEXBOX************/

/******************************************/


/*HEADER************/



/*****************************************/


/*NAV************/

/******************************************/


/*MAIN************/

.main {
    display: flex;
    flex-wrap: wrap;
}

/******************************************/


/*MEDIA QUERIES*/

@media screen and (min-width: 750px) {
    .header, .purpose {
        width: 750px;
    }
}

/******************************************/